
  <div id='speedway'>
    <div id="player1_strip" data-player-name=<%= "#{@p1_name}" %>>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
      <div class="spot"></div>
    </div>

    <div id="player2_strip" data-second-player-name=<%= "#{@p2_name}" %>>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
      <div class="spot2"></div>
    </ul>
  </div>



